In [5]:
import pandas as pd


# now i will load dataset 
df = pd.read_csv("abc.csv")

In [7]:
df

    1                                   Hi         greeting
0   2   What&#39;s the status of my order?     order_status
1   3                  Can I get a refund?    return_policy
2   4           Tell me about this product     product_info
3   5                    My payment failed    payment_issue
4   6  I need to speak to a representative  contact_support
5   7               The product is damaged        complaint
6   8                         Good evening         greeting
7   9           When will my order arrive?     order_status
8  10             How do I return an item?    return_policy

In [10]:
df.head()

   1                                   Hi         greeting
0  2   What&#39;s the status of my order?     order_status
1  3                  Can I get a refund?    return_policy
2  4           Tell me about this product     product_info
3  5                    My payment failed    payment_issue
4  6  I need to speak to a representative  contact_support

In [12]:
df.isnull().sum()

1           0
Hi          0
greeting    0
dtype: int64

In [15]:
df.isnull()

       1     Hi  greeting
0  False  False     False
1  False  False     False
2  False  False     False
3  False  False     False
4  False  False     False
5  False  False     False
6  False  False     False
7  False  False     False
8  False  False     False

In [17]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [19]:
df.duplicated().isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

AttributeError: 'function' object has no attribute 'sum'

In [23]:
# let preporcess the data

In [25]:
df

    1                                   Hi         greeting
0   2   What&#39;s the status of my order?     order_status
1   3                  Can I get a refund?    return_policy
2   4           Tell me about this product     product_info
3   5                    My payment failed    payment_issue
4   6  I need to speak to a representative  contact_support
5   7               The product is damaged        complaint
6   8                         Good evening         greeting
7   9           When will my order arrive?     order_status
8  10             How do I return an item?    return_policy

In [35]:
# usko batana apdega label encoder
from sklearn.preprocessing import LabelEncoder

# Encode the intents ( labels )

lebel_encoder = LabelEncoder()
df['Intent'] = lebel_encoder.fit_transform(df['greeting'])

In [37]:
df

    1                                   Hi         greeting  Intent
0   2   What&#39;s the status of my order?     order_status       3
1   3                  Can I get a refund?    return_policy       6
2   4           Tell me about this product     product_info       5
3   5                    My payment failed    payment_issue       4
4   6  I need to speak to a representative  contact_support       1
5   7               The product is damaged        complaint       0
6   8                         Good evening         greeting       2
7   9           When will my order arrive?     order_status       3
8  10             How do I return an item?    return_policy       6

In [39]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df['Hi'], df['Intent'] , test_size=0.2 , random_state= 42)

In [43]:
print(f"Number of trainign sample: {len(x_train)}")
print(f"Number of testing sample: {len(x_test)}")

Number of trainign sample: 7
Number of testing sample: 2

In [47]:
# humne abhi dataset load kara 
# then label assign kiye 
# train set split the 80% for traing ad 20% for testing use kar rahe h 
df1 = pd.read_csv("abcd.csv")

In [49]:
df1

                                   Query               Intent
0    What payment methods do you accept?         Account Help
1                 Is my order confirmed?  Product Replacement
2             Why is my payment failing?       Password Reset
3      Can I change my delivery address?   Order Confirmation
4            How do I reset my password?         Order Status
..                                   ...                  ...
995        What is your exchange policy?        Return Policy
996        What is your exchange policy?      Payment Methods
997       My coupon code is not working.     Discount Inquiry
998           Why is my payment failing?          Store Hours
999                   Where is my order?      Payment Methods

[1000 rows x 2 columns]

In [51]:
df1.sum()

Query     What payment methods do you accept?Is my order...
Intent    Account HelpProduct ReplacementPassword ResetO...
dtype: object

In [53]:
df1.isnull().sum()

Query     0
Intent    0
dtype: int64

In [55]:
df1.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995     True
996     True
997    False
998     True
999     True
Length: 1000, dtype: bool

In [63]:
df1.duplicated

<bound method DataFrame.duplicated of                                    Query               Intent
0    What payment methods do you accept?         Account Help
1                 Is my order confirmed?  Product Replacement
2             Why is my payment failing?       Password Reset
3      Can I change my delivery address?   Order Confirmation
4            How do I reset my password?         Order Status
..                                   ...                  ...
995        What is your exchange policy?        Return Policy
996        What is your exchange policy?      Payment Methods
997       My coupon code is not working.     Discount Inquiry
998           Why is my payment failing?          Store Hours
999                   Where is my order?      Payment Methods

[1000 rows x 2 columns]>

In [65]:
df1['Query'].duplicated

<bound method Series.duplicated of 0      What payment methods do you accept?
1                   Is my order confirmed?
2               Why is my payment failing?
3        Can I change my delivery address?
4              How do I reset my password?
                      ...
995          What is your exchange policy?
996          What is your exchange policy?
997         My coupon code is not working.
998             Why is my payment failing?
999                     Where is my order?
Name: Query, Length: 1000, dtype: object>

In [73]:
# no i give lalbel to intent so at least we assign some label and number becourse ml treat them as lable 
# like category 
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df1['Intent'] = le.fit_transform(df1['Intent'])

In [75]:
df1.head()

                                 Query  Intent
0  What payment methods do you accept?       0
1               Is my order confirmed?      14
2           Why is my payment failing?      11
3    Can I change my delivery address?       8
4          How do I reset my password?       9

In [79]:
from sklearn.model_selection import train_test_split

x_train, x_test , y_train , y_test = train_test_split(df1['Query'], df1['Intent'])

In [81]:
x_train

792               What is your return policy?
474                   How can I get a refund?
257                        Where is my order?
937             What is your exchange policy?
453                I want to cancel my order.
                        ...
534                Why is my payment failing?
714                I want to cancel my order.
934              I need help with my account.
455    Do you have a customer support number?
63          Can I change my delivery address?
Name: Query, Length: 750, dtype: object

In [83]:
x_test

392                  What are your store hours?
626        Do you offer international shipping?
526              My coupon code is not working.
555           Can I change my delivery address?
322                I need help with my account.
                         ...
755                  What are your store hours?
29                           Where is my order?
678      Do you have a customer support number?
102    Do you have a warranty on your products?
125        Do you offer international shipping?
Name: Query, Length: 250, dtype: object

In [85]:
{len(x_test)}

{250}

In [87]:
{len(x_train)}

{750}

NameError: name 'label_encoder' is not defined

/Volumes/Software/opt/anaconda3/lib/python3.12/site-packages/transformers/training_args.py:1575: FutureWarning: `evaluation_strategy` is deprecated and will be removed in version 4.46 of ðŸ¤— Transformers. Use `eval_strategy` instead
  warnings.warn(

ImportError: Using the `Trainer` with `PyTorch` requires `accelerate>=0.26.0`: Please run `pip install transformers[torch]` or `pip install 'accelerate>=0.26.0'`